rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /carts/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /orders/{orderId} {
      allow create: if request.auth != null;
      // Admin can read any individual order
      allow read: if request.auth != null && request.auth.uid == 'REPLACE_WITH_YOUR_ADMIN_UID';
    }

    match /orders/{orderId} {
       // Admin can list all orders
      allow list: if request.auth != null && request.auth.uid == 'REPLACE_WITH_YOUR_ADMIN_UID';
    }
  }
}
