rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to read and write their own cart
    match /carts/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    // Allow users to create orders
    // Allow admin to read and update all orders
    match /orders/{orderId} {
      allow create: if request.auth.uid != null;
      allow get, list, update: if request.auth.uid == 'vaOyXZOlnQciAzaG2Q0E9qRXZTz1';
    }
  }
}
